<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>	
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h3> List All Dealer </h3><br>

		<div th:each="dealer : ${allDealers}">
			<strong><p th:text="'Alamat  :  ' + ${dealer.alamat}"></p></strong>
			<strong><p th:text="'Telepon : ' + ${dealer.noTelp}"></p></strong>
			
			<table th:if="${!dealer.listCar.empty}" border="2" style="width:600px">
			    <tr>
			        <td>ID</td>
			        <td>BRAND</td>
			        <td>TYPE</td>
			        <td>PRICE</td>
			        <td>AMOUNT</td>
			    </tr>
		    
		    	<th:block th:each ="car : ${dealer.listCar}">
				    <tr>
				        <td th:text="${car.id}"></td>
						<td th:text="${car.brand}"></td>
						<td th:text="${car.type}"></td>
						<td th:text="${car.price}"></td>
						<td th:text="${car.amount}"></td>
				    </tr>
				</th:block>
			</table>
			
			<table th:if="${dealer.listCar.empty}" border="2" style="width:300px">
				<td> Dealer tidak menjual mobil </td>
			</table><br>
		</div>
	</body>
</html>